singularity.pullTimeout = '4d'

params {
    // Trace
    trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

    // Input/output options
    input = null
    outdir = "results"
    genome = "GRCh38"
    publish_dir_mode = "symlink"
    reference_index = null
    bismark_index = null
    skip_deduplication = false
    cytosine_report = false
    skip_bismark_report = false
    fastp_length_required = 20
    trim_OT = null
    trim_OB = null
    taps = false
    bwa2_index = null
    index_bwa2_reference = false
    reference_dict = null
    skip_rastair = false
}


includeConfig 'conf/igenomes.config'
includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

profiles {
    docker {
        docker.enabled = true
        // docker.runOptions = '-u $(id -u):$(id -g)'
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }

    bismark {
        process {
            resourceLimits = [cpus: 4, memory: '15.GB', time: '2.h']
        }
        params {
            input = 'assets/samplesheet_fastq.csv'
            genome = null
            reference = 'https://raw.githubusercontent.com/nf-core/test-datasets/methylseq/reference/genome.fa.gz'
            skip_deduplication = false
            skip_bismark_report = false
        }
    }
    rastair {
        process {
            resourceLimits = [cpus: 4, memory: '15.GB', time: '2.h']
        }
        params {
            input = 'assets/samplesheet_fastq.csv'
            genome = null
            reference = 'https://raw.githubusercontent.com/nf-core/test-datasets/methylseq/reference/genome.fa.gz'
            index_bwa2_reference = true
            skip_deduplication = false
            skip_bismark_report = false
            taps = true
        }
    }
}


manifest {
    name            = 'gianglabs/nf-workflow-template'
    contributors    = [
        [
            name: 'Giang Nguyen',
            affiliation: 'Giang Labs',
            email: 'nttg8100@gmail.com',
            github: '@nttg8100',
            contribution: ['author', 'maintainer'],
            orcid: '0000-0001-5092-156X'
        ]
    ]
    homePage        = 'https://github.com/gianglabs/nf-workflow-template'
    description     = """An open-source analysis pipeline for somatic and germline short read variant calling"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=25.10.2'
    version         = '1.0.0'
}
