
profiles {
    test {
        params {
            input = "${projectDir}/assets/samplesheet_fastq.csv"
            genome = null
            reference = 'https://raw.githubusercontent.com/nf-core/test-datasets/methylseq/reference/genome.fa'
            reference_index = 'https://raw.githubusercontent.com/nf-core/test-datasets/methylseq/reference/genome.fa.fai'
        }
    }
}
