// Load modules configuration
process {
    withName: FASTP_TRIM {
        ext.args = { [
            params.fastp_length_required ? "--length_required ${params.fastp_length_required}" : null
        ].findAll{ it }.join(' ') }
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/trimgalore/fastqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }
    withName: BISMARK_ALIGN {
        ext.args = { [
            ' --bowtie2'
        ].join(' ').trim() }
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/bismark/alignments" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith('report.txt') ? "logs/${filename}" : null }
        ]
    }
    withName: BISMARK_GENOMEPREPARATION {
        ext.args = { [
            ' --bowtie2'
        ].join(' ').trim() }
    }
    withName: BISMARK_DEDUPLICATE {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/bismark/deduplicated" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }
    withName: SAMTOOLS_SORT {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/bismark/deduplicated" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: BISMARK_METHYLATIONEXTRACTOR {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/bismark/methylation_calls" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename == 'versions.yml') return null
                if (filename.endsWith('.bedGraph.gz')) return "bedGraph/${filename}"
                if (filename.endsWith('.M-bias.txt')) return "mbias/${filename}"
                if (filename.endsWith('.txt.gz')) return "methylation_calls/${filename}"
                if (filename.endsWith('.cov.gz')) return "methylation_coverage/${filename}"
                if (filename.endsWith('_splitting_report.txt')) return "splitting_report/${filename}"
                return filename
            }
        ]
    }
    withName: BISMARK_COVERAGE2CYTOSINE {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/bismark/methylation_calls" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename == 'versions.yml') return null
                if (filename.endsWith('.cov.gz')) return "methylation_coverage/${filename}"
                if (filename.endsWith('report.txt.gz')) return "methylation_coverage/${filename}"
                if (filename.endsWith('cytosine_context_summary.txt')) return "methylation_coverage/${filename}"
                return filename
            }
        ]
    }
    withName: BISMARK_REPORT {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/bismark/reports" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }
    withName: BISMARK_SUMMARY {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/bismark/summary" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }
    withName: RASTAIR_CALL {
        ext.args = [
            params.trim_OT ?: '0,0,10,0',
            params.trim_OB ?: '0,0,10,0'
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/rastair/call" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ],
            [
                path: { "${params.outdir}/rastair/call" },
                mode: params.publish_dir_mode,
                pattern: "*.gz"
            ]
        ]
    }
    withName: RASTAIR_MBIAS {
        publishDir = [
            [
                path: { "${params.outdir}/rastair/mbias" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ]
        ]
    }
    withName: RASTAIR_MBIASPARSER {
        publishDir = [
            [
                path: { "${params.outdir}/rastair/mbiasparser" },
                mode: params.publish_dir_mode,
                pattern: "*rastair_mbias_processed*"
            ]
        ]
    }
    withName: RASTAIR_METHYLKIT {
        publishDir = [
            [
                path: { "${params.outdir}/rastair/methylkit" },
                mode: params.publish_dir_mode,
                pattern: "*.txt.gz"
            ]
        ]
    }
}
