// Load modules configuration
process {
    withName: BWAMEM2_INDEX {
        publishDir = [
            enabled: true,
            path: { "${params.outdir}/bwa2_index" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: SAMTOOLS_MERGE {
        publishDir = [enabled: true, path: { "${params.outdir}/alignment/${meta.id}" }, mode: params.publish_dir_mode, pattern: "*.{cram,crai}"]
    }
}
